accelerate
aiolimiter
beartype
bitsandbytes
boto3
ctranslate2
google-generativeai
gymnasium
httpx
lxml
matplotlib
nest-asyncio
nltk
numpy==1.26.4
openai>=1.0
pandas
peft
Pillow
playwright
python-dotenv
PyYAML
requests
text-generation
tiktoken
torch
transformers
tqdm
